@use "./colors" as colors;
@use "./mixins" as mx;
@use "../base/_typography";
@use "../themes/theme" as *;


* {
    box-sizing: border-box;
}

.primary_button {
    display: flex;

    flex-direction: row;
    background-color: colors.$secondary-yellow;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 98px;
    color: colors.$home-background;
    font-size: 40px;
    font-weight: bold;
    padding: 24px;
    cursor: pointer;



    &:hover {
        .primary_button--first_icon {
            transform: rotate(-25.77deg);
        }

        .primary_button--second_icon {
            background-image: url("../assets/arrow 1-hover.svg");
            height: 36px;
        }
    }

    &--first_icon {
        width: 44px;
        height: 32px;
        background-image: url('../assets/stadia_controller-primary-btn.svg');
        background-repeat: no-repeat;
        background-position: center;

    }

    &--second_icon {
        width: 44px;
        height: 32px;
        background-image: url('../public/assets/arrow 1.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &_bg-icon {
        background-image: url("..public/assets/stadia_controller.svg");
    }

}

.small-button {
    display: flex;
    flex-direction: row;
    background-color: colors.$secondary-yellow;
    justify-content: space-between;
    align-items: center;
    width: 126px;
    height: 53px;
    color: colors.$home-background;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Red Rose';
    padding: 24px;
    cursor: pointer;
    gap: 8px;
    border: none;

    &-img {
        width: 24px;
        height: 24px;

    }

    &:not(:disabled):hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
        cursor: pointer;

        .small-button-img {
            width: 30px;
            height: 30px;
            transform: rotate(-5.33deg);
        }
    }

    &:disabled {
        background-color: colors.$disabeld-gray;
        color: colors.$disabeld-text;

        .small-button-img {
            filter: invert(68%) sepia(1%) saturate(1478%) hue-rotate(185deg) brightness(87%) contrast(92%);
        }
    }
}

.radioBtn {
    @include mx.flex-left(row);
    gap: 10px;
    align-items: center;
    padding-left: 44px;

    label {
        font-family: 'Alamarai';
        font-weight: 400;
        font-size: 20px;


    }

    input {
        appearance: none;
        margin: 0;
        position: relative;
        width: 20px;
        height: 20px;
        border: 3px solid colors.$home-background;
        border-radius: 50%;
        cursor: pointer;
        gap: 8px;
        vertical-align: middle;
        // margin-right: 8px;
        background: transparent;

        &:checked {
            border-width: 2px;
            border-color: colors.$home-background;
        }

        &:checked+label {
            font-weight: 700;

        }

        &:checked::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 7px;
            height: 7px;
            background-color: colors.$home-background;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            display: block;
        }
    }

}

.radioBtn:nth-child(n+2) {
    padding-top: 12px;
}

.radioBtn:has(input:checked)::after {
    content: "";
    display: inline-block;
    width: 41px;
    height: 20px;
    margin-left: 10px;
    background-image: url("../assets/line1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
    background-position: left center;
}

.secondary-btn {
    @include mx.flex-center(row);
    width: t(secBtn-width);
    height: t(secBtn-height);
    border-width: 1px;
    border-style: solid;
    border-color: t(secBtn-border-color-theme);
    border-radius: 10px;
    background-color: t(secBtn-bg-color);
    border-image: t(border-image) 3 stretch;
    gap: 10px;
    padding: t(secBtn-padding);
    box-sizing: border-box;
    transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out;

    span {
        color: white;
        white-space: nowrap;
        @include mx.flex-center(row);
        color: t(secBtn-text-color);
        @include mx.font(t(game_header-fontfamily), t(game_header-right-fontweight), t(game_header-right-fontstyle), t(game_header-right-fontsize));

        &::before {
            filter: t(secBtn-url-filter);
            content: "";
            width: 30px;
            height: 30px;
            @include mx.bg-image(t(secBtn-url-theme), t(secBtn-bgi-width), t(secBtn-bgi-height));
            padding: 3.75px 3.75px 3.75px 3.75px;
        }

    }
}

.secondary-btn:hover {
    box-sizing: border-box;
    outline: 3px solid t(secBtn-border-color-theme-hover);
    border-style: solid;
    border-color: t(secBtn-border-color-theme-hover);
    box-shadow: t(secBtn-drop-shadow);
    background-color: t(secBtn-bg-color-hover);

    span {
        color: t(secBtn-text-color-hover);
    }

    span::before {
        filter: t(secBtn-url-filter-hover);
        border-color: t(secBtn-border-color-theme-hover);
        box-shadow: t(secBtn-drop-shadow);

    }
}