@use "./colors" as colors;
@use "./mixins" as mx;
@use "../base/_typography";
@use "../themes/theme" as *;

* {
    box-sizing: border-box;
}

.primary_button {
    display: flex;

    flex-direction: row;
    background-color: colors.$secondary-yellow;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 98px;
    color: colors.$home-background;
    font-size: 40px;
    font-weight: bold;
    padding: 24px;
    cursor: pointer;



    &:hover {
        .primary_button--first_icon {
            transform: rotate(-25.77deg);
        }

        .primary_button--second_icon {
            background-image: url("/assets/arrow1-hover.svg");
            height: 36px;
        }
    }

    &--first_icon {
        width: 44px;
        height: 32px;
        background-image: url('/assets/stadia_controller-primary-btn.svg');
        background-repeat: no-repeat;
        background-position: center;

    }

    &--second_icon {
        width: 44px;
        height: 32px;
        background-image: url('/assets/arrow1.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &_bg-icon {
        background-image: url("/assets/stadia_controller.svg");
    }

}

.small-button {
    display: flex;
    flex-direction: row;
    background-color: colors.$secondary-yellow;
    justify-content: space-between;
    align-items: center;
    width: 126px;
    height: 53px;
    color: colors.$home-background;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Red Rose';
    padding: 24px;
    cursor: pointer;
    gap: 8px;
    border: none;

    &-img {
        width: 24px;
        height: 24px;

    }

    &:not(:disabled):hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
        cursor: pointer;

        .small-button-img {
            width: 30px;
            height: 30px;
            transform: rotate(-5.33deg);
        }
    }

    &:disabled {
        background-color: colors.$disabeld-gray;
        color: colors.$disabeld-text;

        .small-button-img {
            filter: invert(68%) sepia(1%) saturate(1478%) hue-rotate(185deg) brightness(87%) contrast(92%);
        }
    }
}

.radioBtn {
    @include mx.flex-left(row);
    gap: 10px;
    align-items: center;
    padding-left: 44px;
    cursor: pointer;

    &::after {
        content: "";
        display: inline-block;
        flex: 0 0 41px;
        width: 41px;
        height: 20px;
        margin-left: 10px;
        background-image: url("/assets/line1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        visibility: hidden;
    }

    label {
        font-family: 'Alamarai';
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
        text-wrap: nowrap;
    }

    input {
        appearance: none;
        margin: 0;
        position: relative;
        width: 20px;
        height: 20px;
        border: 3px solid colors.$home-background;
        border-radius: 50%;
        cursor: pointer;
        gap: 8px;
        vertical-align: middle;
        background: transparent;
    }

}

.settings_radioBtns form:not(:has(.radioBtn:hover)) .radioBtn input:checked,
.settings_radioBtns .radioBtn:hover input {
    border-width: 2px;
    border-color: colors.$home-background;
}

.settings_radioBtns form:not(:has(.radioBtn:hover)) .radioBtn input:checked+label,
.settings_radioBtns .radioBtn:hover label {
    font-weight: 700;
}

.settings_radioBtns form:not(:has(.radioBtn:hover)) .radioBtn input:checked::after,
.settings_radioBtns .radioBtn:hover input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    background-color: colors.$home-background;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.radioBtn:nth-child(n+2) {
    padding-top: 12px;
}

.settings_radioBtns form:not(:has(.radioBtn:hover)) .radioBtn:has(input:checked)::after,
.settings_radioBtns .radioBtn:hover::after {
    visibility: visible;
}

.secondary-btn {
    @include mx.flex-center(row);
    border-width: 1px;
    border-style: solid;
    border-color: t(secBtn-border-color-theme);
    border-radius: t(secBtn-border-radius);
    background-color: t(secBtn-bg-color);
    border-image: t(border-image) 3 stretch;
    gap: 10px;
    padding: t(secBtn-padding);
    box-sizing: border-box;
    transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out;

    span {
        color: white;
        white-space: nowrap;
        @include mx.flex-center(row);
        color: t(secBtn-text-color);
        @include mx.font(t(game_header-fontfamily), t(game_header-right-fontweight), t(game_header-right-fontstyle), t(game_header-right-fontsize));

        &::before {

            content: "";
            width: 30px;
            height: 30px;
            @include mx.bg-image(t(secBtn-url-theme), t(secBtn-bgi-width), t(secBtn-bgi-height), t(secBtn-url-filter));
            padding: 3.75px 3.75px 3.75px 3.75px;
        }

    }
}

.secondary-btn:hover {
    box-sizing: border-box;
    outline: 3px solid t(secBtn-border-color-theme-hover);
    border-style: solid;
    border-color: t(secBtn-border-color-theme-hover);
    box-shadow: t(secBtn-drop-shadow);
    background-color: t(secBtn-bg-color-hover);

    span {
        color: t(secBtn-text-color-hover);
    }

    span::before {
        filter: t(secBtn-url-filter-hover);
        border-color: t(secBtn-border-color-theme-hover);
        box-shadow: t(secBtn-drop-shadow);

    }
}

.btn-back {
    height: 57px;
    padding: t(dialog_backBtn-padding);
    background-color: t(dialog-backBtn-bg);
    border: none;
    border: t(dialog-backBtn-border);
    border-radius: 10px;
    border-image: t(border-image) 3 stretch;
    gap: 10px;
    text-align: center;
    color: t(dialog-backBtn-color);
    white-space: nowrap;

    @include mx.font(t(game_header-fontfamily), t(game_header-left-fontweight), t(game_header-left-fontstyle), t(dialog-btn-fontsize));

    &:hover {
        background-color: t(dialog-backBtn-hover-bg);
        color: t(dialog-backBtn-hover-color);
        outline: t(dialog-backBtn-border);
    }

}

[data-theme="cTheme"] .btn-back {
    border-radius: 0;
}

.btn-exit {
    height: 57px;
    white-space: nowrap;
    box-sizing: border-box;
    @include mx.flex-center(row);
    padding: t(dialog_exitBtn-padding);
    border: none;
    border: t(dialog-exitBtn-border);
    border-image: t(border-image) 3 stretch;
    background-color: t(dialog-exitBtn-bg);
    gap: 10px;
    border-radius: 10px;
    text-align: center;
    @include mx.font(t(game_header-fontfamily), t(game_header-left-fontweight), t(game_header-left-fontstyle), t(dialog-btn-fontsize));
    color: t(dialog-exitBtn-color);

    &:hover {
        background-color: t(dialog-exitBtn-hover-bg);
        color: t(dialog-exitBtn-hover-color);
        outline: t(dialog-exitBtn-border);
    }

}

[data-theme="cTheme"] .btn-back,
[data-theme="cTheme"] .btn-exit {
    border-radius: 0;
}

[data-theme="dTheme"].btn-back,
[data-theme="dTheme"].btn-exit {
    box-shadow: 3px 3px 5px 0px #2F2E2E33;

}

// [data-theme="fTheme"].btn-exit {
//     border: none;
//     border-image: t(border-image) 3 stretch;
//     border-radius: 10px;
// }