$home-background: #303131;
$secondary-btn-bg-ctheme: #F0EA6E1A;
$secondary-btn-bg-gtheme: #ED1B7614;
$secondary-yellow: #F0EA6E;
$bg-gtheme: #294F60;
$bg-header-gtheme: #FD96C933;
$bg-header-dtheme: #F0F3F4;
$text-color-dtheme: #1E7594;
$text-color-ftheme: #A45212;
$secBtn-bg-dtheme: #BFE5F2;
$secBtn-bg-ftheme: #FFF9F2;
$secBtn-bg-ftheme-hover: #F3832D;
$border-color-gtheme: #E71C4F;
$border-color-ctheme: #4DD5BC;
$border-shadow-color-gtheme: #F0EA6E33;
$secondary-btn-drop-hover-gtheme: #2F2E2E33;
$secondary-btn-drop-hover-ctheme: #4DD5BC33;
$disabeld-gray: #DBDBD6;
$disabeld-text: #A3A1A1;
$preview-gray: #F6F6F6;
$player-blue: #2BB1FF;
$player-orange: #F58E39;
$bg-player-score-ctheme: #86E9D633;
$color-go-headline-gtheme: #ED1B76;
$color-go-headline-dtheme: #FD5B4F;





$filter-bg-img-gtheme: brightness(0) saturate(100%) invert(20%) sepia(91%) saturate(5496%) hue-rotate(338deg) brightness(91%) contrast(92%);
$filter-bg-img-dtheme: brightness(0) saturate(100%) invert(40%) sepia(34%) saturate(913%) hue-rotate(154deg) brightness(93%) contrast(90%);
$filter-bg-img-ftheme: brightness(0) saturate(100%) invert(55%) sepia(53%) saturate(669%) hue-rotate(342deg) brightness(96%) contrast(98%);