@use '../base/typography';


@mixin flex-center($direction: column) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-left($direction: column) {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: $direction;
}

@mixin flex-right($direction: column) {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: $direction;
}

@mixin flex-spaceBetween($direction: row) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin grid($size) {
    display: grid;
    width: 100%;
    place-content: center;
    grid-template-columns: repeat(var($size), 120px);
    // grid-template-rows: repeat(var($size), 120px);
    grid-auto-rows: 120px;
    gap: 16px;
    justify-items: center;

}

@mixin redRose-bold($size) {
    font-family: Red Rose;
    font-weight: 700;
    font-style: Bold;
    font-size: $size;
}

@mixin redRose-regular($size) {
    font-family: Red Rose;
    font-weight: 400;
    font-style: regular;
    font-size: $size;
}

@mixin font($family, $weight, $style, $size) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style ;
    font-size: $size;
}

@mixin bg-image($url, $width, $height, $filter: "") {
    background-image: $url;
    background-repeat: no-repeat;
    background-size: $width $height;
    background-position: left center;
    filter: $filter;
}