@use '../abstract/colors' as colors;
@use "../abstract/button" as btn;
@use "../abstract/mixins" as mx;
@use"../base/typography";
@use"../themes/theme" as *;

@include theme-generator($themes);

//

.main-container-final {
    background-color: t(final-bg-color);
    width: 100%;
    height: 100%;
    padding: 41px 112px;
    text-align: center;
    @include mx.flex-center(column);
    font-family: t(game_header-fontfamily);
    background-image: t(final-header-bg-img);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 318px;

}

.final-center {
    @include mx.flex-center();

    &-firstheadline {
        color: white;
        margin: 0;
        padding: 0 0 8px 0;

        [data-theme="fTheme"] {
            color: #A45212;
        }
    }

    &-winnerheadline {
        margin: 0;
        padding: 0 0 64px 0;
        font-size: t(final_winnerheadline-fontsize);
        text-transform: t(final-headline-text-transform);
        color: white;

        [data-theme="cTheme"] &[data-winner="pBlue"] {
            color: colors.$player-blue;
        }

        [data-theme="cTheme"] &[data-winner="pOrange"] {
            color: colors.$player-orange;
        }

        [data-theme="gTheme"] &[data-winner="pBlue"] {
            color: cyan;
        }

        // Beispiel
        [data-theme="gTheme"] &[data-winner="pOrange"] {
            color: yellow;
        }

        [data-theme="fTheme"] &[data-winner="pBlue"] {
            color: #A45212;
        }

        // Beispiel
        [data-theme="fTheme"] &[data-winner="pOrange"] {
            color: #A45212;
        }
    }

    &-img {


        &-blue {
            width: 200px;
            height: 250px;
            @include mx.bg-image(t(final_bg-img-blue), 200px, 250px)
        }

        &-orange {
            width: 200px;
            height: 250px;
            @include mx.bg-image(t(final_bg-img-orange), 200px, 250px)
        }



    }

    .btn-backToStart {
        margin-top: 64px;
        @extend .secondary-btn;
        @include mx.redRose-bold(24px);
        color: white;
        white-space: nowrap;
        background-color: t(final-btn-bg-color);

    }


}