@use '../abstract/colors' as colors;
@use "../abstract/button" as btn;
@use "../abstract/mixins" as mx;
@use"../base/typography";
@use"../themes/theme" as *;

@include theme-generator($themes);

.main-container-game {
    background-color: t(bg-color);
    width: 100%;
    height: 100%;
    padding: 41px 112px;
    text-align: center;
    @include mx.flex-center(column);

}

.game_header {
    @include mx.flex-spaceBetween;
    padding: 41px;
    gap: 54px;
    background-color: t(bg-game_header-color);
    border-radius: 10px;
}

.game_header_left {
    @include mx.font(t(game_header-fontfamily), t(game_header-left-fontweight), t(game_header-left-fontstyle), t(game_header-left-fontsize));
    @include mx.flex-center(row);
    gap: 20px;
    background-color: t(bg-header-left-color);
    padding: t(bg-game_header-padding);
    border-radius: t(bg-header-left-radius);

    &_score-Blue {
        color: colors.$player-blue;
        @include mx.flex-center(row);
        gap: 4px;
    }

    .score_color-blue {
        display: inline-block;
        padding-left: 28px;
        @include mx.bg-image(t(score-icon-blue-url), 20px, 25px);
        text-indent: t(score-text-visibility);
    }

    .score_color-orange {
        display: inline-block;
        padding-left: 28px;
        @include mx.bg-image(t(score-icon-orange-url), 20px, 25px);
        text-indent: t(score-text-visibility);

    }

    &_score-Orange {
        color: colors.$player-orange;
        @include mx.flex-center(row);
        gap: 4px;
    }


}

.game_header_center {
    @include mx.flex-center(row);
    gap: 8px;

    &_text {
        @include mx.font(t(game_header-fontfamily), t(game_header-center-fontweight), t(game_header-center-fontstyle), t(game_header-center-fontsize));
        color: t(text-color-theme);
        white-space: nowrap;

    }
}

.game_header_right {
    @include mx.flex-center;
}

.game_cards {
    padding-top: 54px;
    // @include mx.flex-center;
    width: max-content;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}