@use '../abstract/colors' as colors;
@use "../abstract/button" as btn;
@use "../abstract/mixins" as mx;
@use"../base/typography";


.main-container-game {
    background-color: colors.$home-background ;
    width: 100%;
    height: 100%;
    padding: 41px 112px;
}

.game_header {
    @include mx.flex-spaceBetween;
    padding-top: 41px;
    gap: 54px;
}

.game_header_left {
    @include mx.redRose-bold(24px);
    @include mx.flex-center(row);
    gap: 20px;
    background-color: colors.$player-score-bg;
    padding: 17px 20px;


    &_score-Blue {
        color: colors.$player-blue;
        @include mx.flex-center(row);
        gap: 4px;
    }

    &_score-Orange {
        color: colors.$player-orange;
        @include mx.flex-center(row);
        gap: 4px;
    }

    .score-icon {
        img {
            width: 24px;
            height: 20px;
            // @include mx.flex-center(column);

        }
    }
}

.game_header_center {
    &_text {
        @include mx.redRose-regular(26px);
        color: white;
    }
}

.game_header_right {}