@use "./_main.scss";
@use "./abstract/colors" as colors;
@use "./abstract/mixins" as mx;

body {
    height: 100vh;
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: colors.$home-background;
    @include mx.flex-center();
}