<main id="main-container" class="main-container-final">

    <header class="Final-header">
        <img src="" alt="">
    </header>
    <section class="final-center">
        <h2 class="final-center-firstheadline">The winner is</h2>
        <h1 id="final-center-winnerheadline" class="final-center-winnerheadline">Black Playxer</h1>
        <span id="final-center-img" class="final-center-img"></span>
        <button type="button" aria-label="back to Start Button" id="btn-backToStart" class="btn-backToStart"></button>
    </section>
</main>