<main id="main-container" class="main-container-final">

    <header class="final-header">
        <img src="" alt="">
    </header>
    <section class="final-center">
        <h2 id="final-center-firstheadline" class="final-center-firstheadline"></h2>
        <h1 id="final-center-winnerheadline" class="final-center-winnerheadline"></h1>
        <span id="final-center-img" class="final-center-img"></span>
        <button type="button" aria-label="back to Start Button" id="btn-backToStart" class="btn-backToStart ">
            <span></span>
        </button>
    </section>
</main>