<main id="main-container" class="main-container-gameover">
    <section class="game-over-center">
        <h1 class="game-over-center-headline">Game over</h1>
        <span class="game-over-center-sumary">
            <p>Final Score</p>
            <section class="game_header_left">
                <div class="game_header_left_score-Blue">
                    <span class="score_color-blue">Blue</span>
                    <span id="blueScore" class="score">0</span>
                </div>
                <div class="game_header_left_score-Orange">
                    <span class="score_color-orange">Orange</span>
                    <span id="orangeScore" class="score">6</span>
                </div>
            </section>
        </span>

    </section>
</main>