<header class="game_header">
    <section class="game_header_left">
        <div class="game_header_left_score-Blue">
            <span class="score_color-blue">Blue</span>
            <span id="blueScore" class="score">0</span>
        </div>
        <div class="game_header_left_score-Orange">
            <span class="score_color-orange">Orange</span>
            <span id="orangeScore" class="score">6</span>
        </div>
    </section>
    <section class="game_header_center">
        <span class="game_header_center_text">
            Current player:
        </span>
        <div class="game_header_center_icon" id="game_header_center_icon">
            <img id="currentPlayer-icon-img" src="./assets/labelBlueCtheme.svg" alt="" srcset="">
        </div>
    </section>
    <section class="game_header_right">
        <button id="btn-exit-dialog" class="secondary-btn" type="button">

            <span>Exit game</span>
        </button>
    </section>
</header>
<section id="game_cards" class="game_cards">

</section>
<dialog id="exit-dialog">
    <aside class="dialog-content">
        <span>Are you sure you want to quit the game ?</span>
        <div class="dialog-btn">
            <button class="btn-back" id="btn-back" type="button"></button>
            <button class="btn-exit" id="btn-exit" type="button"></button>
        </div>
    </aside>
</dialog>