<main id="main-container" class="main-container-start">
    <article class="hero">
        <section class="hero_headers">
            <span class="hero_headers-firstline">It's play time.</span>
            <span class="hero_headers-secondline">Ready to play?</span>
        </section>
        <button id="hero-btn" class="primary_button" type="submit">
            <div class="primary_button--first_icon" alt=""></div>
            <span>Play</span>
            <div class=" primary_button--second_icon" alt=""></div>
        </button>
    </article>
    <img class="hero-bg-icon" src="./public/assets/stadia_controller.svg" alt="" srcset="">
</main>