@font-face {
    font-family: "Red Rose";
    src: url("../fonts/Red Rose/RedRose-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Almarai Regular";
    src: url("../fonts/Almarai/Almarai-Regular.ttf");
}